* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #131212;
    color: #333;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 10px 0 0 0;
    color: #fff;
}

.note{
    color: #fff;
    margin-bottom: 15px;
}
.container {
    background: #fff;
    padding: 10px 30px;
    padding-top: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;


    .subject {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        color: #222121;

        label {
            flex: 1;
            font-size: 16px;
            font-weight: 600;
        }
        input {
            margin-left: 10px;
            padding: 5px;
            width: 40%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input:hover {
            border-color: #888;

        }
    }
    button {
        padding : 10px 15px;
        background-color:#101110;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    input {
        width: 60%;
    }
}
